In [3]:
print ("Hello, World!")

Hello, World!

#### Python Reserved Words

In [4]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

#### Python Lines and Indentation

In [6]:
if True:
   print ("True")
else:
   print ("False")

True

#### Python Multi-Line Statements

In [7]:
result = (10 +
          20 +
          30)

print(result)

60

In [8]:
my_dict = {'a': 1,
           'b': 2,
           'c': 3}

my_set = {1,
          2,
          3}

In [9]:
my_list = [10,
           20,
           30]

#### Quotations in Python

In [10]:
word = 'word'
print (word)

sentence = "This is a sentence."
print (sentence)

paragraph = """This is a paragraph. It is
 made up of multiple lines and sentences."""
print (paragraph)

word
This is a sentence.
This is a paragraph. It is
 made up of multiple lines and sentences.

#### Comment

In [ ]:
'''
This is a multiline
comment.
'''

#### Using Blank Lines in Python Programs

In [13]:
input("Press the enter key to exit.")

Press the enter key to exit.

''

In [12]:
input("\n\nPress the enter key to exit.")# Adding two line before showing the result

Press the enter key to exit.

''

#### Mulitple Statement on a Single Line

In [ ]:
import sys; x = 'foo'; sys.stdout.write(x + '\n')

#### Variables

In [16]:
counter = 100          # Creates an integer variable
miles   = 1000.0       # Creates a floating point variable
name    = "Zara Ali"   # Creates a string variable
account = True

In [17]:
id(name)

2611408880048

In [18]:
del counter

In [19]:
type(account)

bool

In [20]:
x = str(10)    # x will be '10'
y = int(10)    # y will be 10 
z = float(10)  # z will be 10.0

print( "x =", x )
print( "y =", y )
print( "z =", z )

x = 10
y = 10
z = 10.0

In [21]:
a=b=c=10
print (a,b,c)

10 10 10

In [22]:
a,b,c = 1,2,"Zara Ali"

print (a)
print (b)
print (c)

1
2
Zara Ali

In [ ]:
#Variable naming conventions
counter = 100
_count  = 100
name1 = "Zara"
name2 = "Nuha"
Age  = 20
zara_salary = 100000

- Numeric - int, float, complex
- String - str
- Sequence -	list, tuple, range
- Binary - bytes, bytearray, memoryview
- Mapping	- dict
- Boolean	- bool
- Set	- set, frozenset
- None - NoneType

In [ ]:
#Numeric data types
var1 = 1       # int data type
var2 = True    # bool data type
var3 = 10.023  # float data type
var4 = 10+3j   # complex data type

In [ ]:
str = 'Hello World!'

In [24]:
boolean = True

In [23]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]

In [ ]:
tuple = (2023, "Python", 3.11, 5+6j, 1.23E-4, ['One', 'Two', 'Three'], 1,2.0,3, (1.0, 2.0, 3.0))

In [ ]:
dict = {'name': 'john','code':6734, 'dept': 'sales'}

In [ ]:
set = {(5+6j), 3.11, 0.000123, 'Python', 2023}

In [ ]:
for i in range(1, 5, 2):
  print(i)

In [ ]:
#Casting
a=int(True)

In [25]:
#float functoin
a = float(9.99)

In [ ]:
#string function
a = str(10)

In [ ]:
#sequence type conversion
a=[1,2,3,4,5]   # List Object
b=(1,2,3,4,5)   # Tupple Object
c="Hello"       # String Object

In [ ]:
### list() separates each character in the string and builds the list
<<< obj=list(c)
<<< obj
['H', 'e', 'l', 'l', 'o']

### The parentheses of tuple are replaced by square brackets
<<< obj=list(b)
<<< obj
[1, 2, 3, 4, 5]

### tuple() separates each character from string and builds a tuple of characters
<<< obj=tuple(c)
<<< obj
('H', 'e', 'l', 'l', 'o')

### square brackets of list are replaced by parentheses.
<<< obj=tuple(a)
<<< obj
(1, 2, 3, 4, 5)

### str() function puts the list and tuple inside the quote symbols.
<<< obj=str(a)
<<< obj
'[1, 2, 3, 4, 5]'

<<< obj=str(b)
<<< obj
'(1, 2, 3, 4, 5)'

In [33]:
list()

TypeError: 'list' object is not callable

In [34]:
text = 'Python'

# convert string to list
text_list = list(text)
print(text_list)

# check type of text_list
print(type(text_list))

# Output: ['P', 'y', 't', 'h', 'o', 'n']
#         <class 'list'>

TypeError: 'list' object is not callable

In [35]:
# python uni-code
var = "3/4"
print (var)
var = "\u00BE"
print (var)

3/4
¾

In [39]:
# operators
a = 4
b = 2

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a//b)

6
2
8
2.0
0
2

In [46]:
print(a == b)
print(a > b)
print(a != b)
print(a >= b)
print()

False
True
True
True

In [47]:
print(a & b)

0